body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f2f2;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    position: relative;
    flex: 3;
  }
  
  header img {
    margin: 50px;
    display: flex;
    padding-left: ;
    position: relative;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 10px; /* ajusta la distancia entre el logo y el título según sea necesario */
    margin: 30px;
    font-size: 24px; /* ajusta el tamaño de fuente según sea necesario */
  }

  body {
    background-image: url('ruta/de/la/imagen');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
  }
  
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
  }
  
  section {
    flex: 0 1 25%;
    margin: 1em;
    padding: 1em;
    background-color: #eee;
    text-align: center;
    border-radius: 10%;
    position: relative;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  .btn btn-danger{
    display: flex;
    flex-wrap: wrap;
    height: ;
  }

  section .formularioUsuario{
    position: absolute;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  footer{
    flex-direction: column;
    padding: 1em;
    position: relative;
    align-items: center;
  }